/*========fuentes=====*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lexend+Deca&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto:wght@100&display=swap');

/*===colores====*/
:root{
    --very-dark-color:hsl(233, 47%, 7%);
    --dark-color: hsl(244, 38%, 16%);
    --soft-violet-color:hsl(277, 64%, 61%);
}

/*========Body=========*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--very-dark-color);
    color: #fff;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.bd-grid{
    max-width: 1440px;
    display: grid;
    
}

.conteiner{
    margin: 100px 30px;
    background-color: var(--dark-color);
}

.img-desktop{
    display: none;
}

.conteiner__text{
    width: 300px;
    margin: 0 auto;
}

.title{
    margin-top: 50px;
    margin-bottom: 20px;    
    text-align: center;
    font-family: 'Lexend Deca',sans-serif;
    font-weight: 700;    
}

span{
    color: var(--soft-violet-color);
}

.text__description{
    width: 250px;
    margin: 0 auto;
    font-size: 15px;
    font-family: 'Inter',sans-serif;
    color:hsla(0, 0%, 100%, 0.75);
    text-align: center;
    line-height: 20pt;
    
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    text-align: center;
    margin: 25px auto;
}

.text_numeros{
    font-family: 'Lexend Deca',sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.text_numeros_descripcion{
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    color:hsla(0, 0%, 100%, 0.6);
    margin: 6px auto;
    letter-spacing: 2pt;
}

@media screen and (min-width:1024px){
    

    .conteiner{
        margin: 200px auto;
        grid-template-columns: repeat(2,1fr);
        justify-content: flex-end;
        
    }
    
    .conteiner__text{
        width: 50%;
        margin: auto auto;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        
        
    }

    .img-content{
        grid-column-start: 3;
        grid-column-end: 4;
    }

    

    .text__description{
        width: 50%;
    }

    ul{
        display: flex;
    }

    .text__description{
        width: 350px;
        margin: 0px auto;
    }

    
}